@import "./colors";

@mixin pagination($theme-name, $background, $hover-background, $selected-background, $selected-hover-background, $text, $hover-text, $selected-text, $selected-hover-text) {
  .#{$theme-name} {
    .paginationContainer {
      display: flex;
      justify-content: center;

      .pagination-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 30px;
        //   border: solid 2px darken(#e44, 5);
        border-radius: 4px;
        margin: 4px;
        transition: background-color 0.5s, color 0.5s, transform 0.5s;
        cursor: pointer;
        background-color: $background;
        font-weight: bold;
        color: $text;
        &.selected {
          background-color: $selected-background;
          color: $selected-text;
          font-weight: bold;
          //border: solid 2px darken(#e44, 15);

          &:hover {
            background-color: $selected-hover-background;
          }
        }
        &:hover {
          color: $hover-text;
          transform: scale(1.15, 1.15);
          background-color: $hover-background;
          //border: solid 2px lighten(#e44, 5);
        }
      }
    }
  }
}
