@import "./colors";

@mixin pagination($theme-name) {
  .#{$theme-name} {
    .paginationContainer {
      display: flex;
      justify-content: center;

      .pagination-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 30px;
        border: solid 2px darken(#e44, 5);
        border-radius: 4px;
        margin: 4px;
        transition: background-color 0.5s, color 0.5s, transform 0.5s;
        cursor: pointer;
        background-color: #e44;
        font-weight: bold;
        color: #fff;
        &.selected {
          background-color: #f88;
          color: #811;
          font-weight: bold;
          border: solid 2px darken(#e44, 15);

          &:hover {
            background-color: #f66;
          }
        }
        &:hover {
          color: #f5e5e5;
          transform: scale(1.15, 1.15);
          background-color: lighten(#e44, 10);
          border: solid 2px lighten(#e44, 5);
        }
      }
    }
  }
}
