@mixin panels($theme-name, $border, $background, $header-background, $text, $header-text) {
  .#{$theme-name} {
    .panel {
      border: solid 2px $border;
      background-color: $background;
      color: $text;
      border-radius: 8px;
      overflow: hidden;

      .panel-header {
        background-color: $header-background;
        color: $header-text;
        padding: 8px;
        padding-left: 20px;
        font-weight: bolder;
        font-size: 1.5em;
      }

      .panel-body {
        padding: 8px;
        padding-bottom: 20px;
      }
    }
  }
}
