@mixin table($theme-name, $background, $table-border, $table-grid, $row-alt-background, $header-background, $hover-background, $row-hover-background, $text, $header-text) {
  .#{$theme-name} {
    table {
      color: $text;
      width: 100%;
      border-collapse: collapse;
      background-color: $background;
      user-select: none;
      border: solid 2px $table-border;

      thead tr {
        background-color: $header-background;
        color: $header-text;
        text-align: left;
        font-size: 1.1em;
      }

      td {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
      }

      th {
        padding-left: 4px;
        padding-left: 8px;
        padding-top: 4px;
        height: 40px;
        cursor: pointer;
        transition: background-color 0.5s;
        user-select: none;

        &.sortable {
          &:hover {
            background-color: $hover-background;
          }
        }

        .title {
          float: left;
          padding-top: 4px;
          height: 30px;
        }
        .icon {
          float: right;
          padding-top: 2px;
          padding-right: 8px;
          font-size: 24px;
        }
      }

      tbody {
        font-size: 0.9em;
        tr {
          border-bottom: 1px solid $table-grid;

          td {
            border-left: solid 1px $table-grid;
          }

          &:hover {
            background-color: $row-hover-background;
          }
          transition: background-color 0.12s;
          cursor: pointer;
        }

        tr:nth-of-type(even) {
          background-color: $row-alt-background;
          &:hover {
            background-color: $row-hover-background;
          }
        }
      }
    }
  }
}
