.health-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .title {
    background-color: #ddd;
    text-align: center;
  }

  .gauge {
    border: solid 1px blue;
    display: block;
  }
}
