@import "./theme/themeGreen";
@import "./theme/themeRed";
@import "./theme/themeBlue";
@import "./theme/themeBlueDark";

html {
  background-color: #eee;
  height: 100%;
  padding: 0;
  margin: 0;
}

@include createThemeGreen();
@include createThemeRed();
@include createThemeBlue();
@include createThemeBlueDark();
