@import "../components/navigation";
@import "../components/pagination";
@import "../components/panels";
@import "../components/table";
@import "../components/tags";
@import "../components/theme-button";
@import "../components/filter-bar";

@mixin createThemeRed() {
  $name: "theme-red";
  $baseColor: #79325d;

  // html {
  //   background-color: #fff;
  // }

  // navigation
  $nav-background: lighten($baseColor, 60);
  $nav-hover-background: lighten($baseColor, 40);
  $nav-selected-background: lighten($baseColor, 25);
  $nav-selected-hover-background: lighten($baseColor, 18);
  $nav-selected-text: darken($baseColor, 20);
  $nav-text: lighten($baseColor, 20);

  $button-background: lighten($baseColor, 05);
  $button-hover-background: lighten($baseColor, 20);
  $button-hover-text: lighten($baseColor, 100);
  $button-selected-background: lighten($baseColor, 25);
  $button-selected-hover-background: lighten($baseColor, 35);
  $button-selected-hover-text: darken($baseColor, 25);
  $button-selected-text: darken($baseColor, 20);
  $button-text: lighten($baseColor, 50);

  $table-background: #fff;
  $table-border: lighten($baseColor, 15);
  $table-grid: #ddd;
  $table-header-background: lighten($baseColor, 0);
  $table-header-hover-background: lighten($baseColor, 20);
  $table-header-text: #fff;
  $table-row-alt-background: lighten($baseColor, 55);
  $table-row-hover-background: lighten($baseColor, 40);
  $table-text: #000;

  $tag-background: lighten($baseColor, 50);
  $tag-border: lighten($baseColor, 20);
  $tag-text: darken($baseColor, 10);

  // background
  HTML {
    &.#{$name} {
      background-color: lighten($baseColor, 65);
    }
  }

  @include filterBar($name, $table-background, $tag-border);
  @include panels($name, $tag-border, $table-background, $table-header-background, $table-text, $table-header-text);
  @include tags($name, $tag-background, $tag-border, $tag-text);
  @include themeButton($name, $baseColor);
  @include pagination($name, $button-background, $button-hover-background, $button-selected-background, $button-selected-hover-background, $button-text, $button-hover-text, $button-selected-text, $button-selected-hover-text);
  @include table($name, $table-background, $table-border, $table-grid, $table-row-alt-background, $table-header-background, $table-header-hover-background, $table-row-hover-background, $table-text, $table-header-text);
  @include navigation($name, $nav-background, $nav-selected-background, $nav-hover-background, $nav-selected-hover-background, $nav-text, $nav-selected-text);
}
