@import "../components/navigation.scss";
@import "../components/table";
@import "../components/pagination";

@mixin createDefaultTheme() {
  // navigation
  $navigation-unselected-background: #fff;
  $navigation-selected-background: #f88;
  $navigation-hover-background: #fcc;
  $navigation-selected-hover-background: #f66;

  // pagination

  @include pagination("theme-red");
  @include table("theme-red");
  @include navigation("theme-red");
}
